{% extends 'base.html' %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<h2>Сброс пароля</h2>
<form method="POST" class="mb-4" autocomplete="off">
  <div class="mb-3"><input name="password" type="password" class="form-control" placeholder="Новый пароль" required></div>
  <div class="mb-3"><input name="confirm" type="password" class="form-control" placeholder="Подтвердите пароль" required></div>
  <button type="submit" class="btn btn-main w-100">Сменить пароль</button>
</form>
{% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
{% endblock %} 